@mixin transition($property) {
    -webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
}

:host {
    --header-height: 30px;
    --nav-width: 250px;
    --nav-width-start: 65px;
    --background-color: #20232a;
    --primary-color: gold;
    >header {
        -webkit-app-region: drag;
        background: var(--background-color);
        >div.logo {
            font-size: 16px;
            display: inline-block;
            padding: 3px 10px;
        }
        >div.window-control {
            float: right;
            -webkit-app-region: no-drag;
            button {
                background: transparent;
                margin: 0px;
                width: 50px;
                height: var(--header-height);
                border: 0;
                color: white;
                outline: none;
                @include transition(all 200ms);
                &:hover {
                    background-color: silver;
                    color: black;
                }
                &[close] {
                    &:hover {
                        background-color: red;
                    }
                }
            }
        }
    }
    >nav {
        position: fixed;
        height: calc(100vh - var(--header-height));
        width: var(--nav-width);
        top: var(--header-height);
        left: 0px;
        background: var(--background-color);
        @include transition(all 645ms cubic-bezier(0.075, 0.82, 0.165, 1));
        transform: translateX(0px);
        >ul {
            list-style: none;
            padding: 0;
            li {
                border-left: 2px solid transparent;
                padding: 10px;
                &:hover,
                .active {
                    border-left-color: var(--primary-color);
                    background: black;
                    svg {
                        fill: var(--primary-color);
                    }
                }
                svg {
                    width: 40px;
                    height: 40px;
                    vertical-align: middle;
                    margin-right: 30px;
                    @include transition(all 645ms cubic-bezier(0.086, 0.82, 0.165, 1));
                }

                // &:last-child::before {
                //     display: block;
                //     content: " ";
                //     margin-left: -5px;
                //     margin-bottom: 10px;
                //     height: 2px;
                //     width: calc(var(--nav-width-start) - 15px);
                //     background: black;
                // }
            }
        }
    }
    >nav:hover {
        +section {
            transform: translateX(calc(var(--nav-width) - calc(var(--nav-width-start) + 10px)));
            // box-shadow: 0px 5px 10px #888888;
            // box-shadow: -2px 2px 10px 0px rgba(255,255,255,1);
        }
        svg {
            margin-right: 5px !important;
        }
    }
    >section {
        position: fixed;
        top: var(--header-height);
        left: var(--nav-width-start);
        height: calc(100vh - var(--header-height));
        width: calc(100vw - var(--nav-width-start));
        padding: 20px;
        background: black;
        border-top-left-radius: 10px;
        @include transition(all 645ms cubic-bezier(0.075, 0.82, 0.165, 1));
    }
}

.avaliables box-image,
.favorite box-image {
    margin: 10px;
}

.avaliables header,
.favorite header {
    font-size: 35px;
}

.disappear {
    max-width: 50px;
    transition-delay: 2s;
    transition: all .654s;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 1;
    margin-right: 7px;
}

.disappear-hidden {
    max-width: 0px;
    opacity: 0;
    margin-right: 0px;
}