<header>
    <clock></clock>
</header>

<nav>
    <div class="logo">
        <img src="../assets/images/logo.png" width="50" style="vertical-align: middle"> F<span class="disappear" [ngClass]="abbreviation">OR</span>F<span class="disappear" [ngClass]="abbreviation">REE</span> - IPTV
    </div>
</nav>

<section hidden>
    <section class="favorite">
        <header i18n>Mais Acessados</header>
        <article>
        </article>
    </section>

    <section class="avaliables">
        <header i18n>Disponíveis</header>
        <article>
        </article>
    </section>
</section>
<footer></footer>